<!-- Menu Section -->
<section id="menu" class="menu section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Menu</h2>
        <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
    </div><!-- End Section Title -->
    <div class="container">

        @await Component.InvokeAsync("DefaultMenuCategoryComponentPartial")

        @await Component.InvokeAsync("DefaultMenuProductComponentPartial")

    </div>
</section><!-- /Menu Section -->

