
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- movielist07:38-->
@await Component.InvokeAsync("UILayoutHeadComponentPartial")

<body>

    @await Component.InvokeAsync("UILayoutPreloaderComponentPartial")

    @await Component.InvokeAsync("UILayoutLoginModalComponentPartial")

    @await Component.InvokeAsync("UILayoutRegisterModalComponentPartial")

    @await Component.InvokeAsync("UILayoutNavbarComponentPartial")

    @await Component.InvokeAsync("UILayoutHeroComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("UILayoutFooterComponentPartial")



    <script src="~/movie/js/jquery.js"></script>
    <script src="~/movie/js/plugins.js"></script>
    <script src="~/movie/js/plugins2.js"></script>
    <script src="~/movie/js/custom.js"></script>
</body>

<!-- movielist07:38-->
</html>

